<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_13_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,233},{81,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{81,50}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,334},{81,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{81,46}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,334},{81,44}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{81,44}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,353},{83,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{83,44}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,146},{83,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{83,42}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,353},{83,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{83,44}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,286},{81,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{81,46}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,233},{81,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{81,50}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,224},{83,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{83,52}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,451},{83,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{83,52}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,459},{67,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{67,48}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,441},{67,48}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{67,48}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,443},{67,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{67,48}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_13_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{67,48}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{67,48}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>bird_14_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{204,30}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{204,30}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,38},{206,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{206,34}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,36}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{206,36}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,34}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{206,34}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{206,30}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{206,30}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,74},{204,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{204,34}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{204,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{204,36}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,152},{202,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{202,40}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,110},{202,40}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{202,40}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{202,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{202,34}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,152},{194,70}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{194,70}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_14_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,286},{176,68}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{176,68}}</string>
                <key>sourceSize</key>
                <string>{226,90}</string>
            </dict>
            <key>bird_15_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,69},{89,79}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{89,79}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,146},{83,85}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{83,85}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,205},{79,85}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{79,85}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,356},{81,83}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{81,83}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,380},{79,77}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{79,77}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{85,73}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{85,73}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{103,61}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{103,61}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,150},{99,53}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{99,53}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,356},{93,53}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{93,53}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{91,65}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{91,65}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,441},{69,61}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{69,61}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,278},{71,73}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{71,73}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,224},{71,83}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{71,83}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>bird_15_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,438},{71,71}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{71,71}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>iphone6_0_0.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>iphone6_0_1.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>iphone6_0_2.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>iphone6_0_3.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>677</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>iphone6_0_4.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>677</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f26f9fd8e1c33508d273df12806c367:e6a9c2f3e5115b535ac674b0c53dd4e4:14cc738d3478f6fb9877ab83f2027978$</string>
            <key>textureFileName</key>
            <string>birds_2.png</string>
        </dict>
    </dict>
</plist>
